<% @user ||= current_user %>

<div class='container-fluid'>
	<div class="card mt-4">
		<div class='container-fluid'>
			<aside>
				<%= gravatar_for(@user) %>
			</aside>
				<div class="name">
					<%= link_to @user.name, profile_path, class: 'secondary-links' %> 
				</div>
				<span class='text-muted'>
					<%= @user.email %>
				</span>

		</div>
		<div class='container-fluid'>
			<div class="row">
				<div class="col-5"> <strong>
						<%= @user.posts.count %>
					</strong> Posts </div> |
				<div class="col-5"> <strong>
						<%= @user.replies.count %>
					</strong> Replies </div>
			</div>
		</div>
	</div>
</div>